{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

  <div class="container mt-5">

    <h1>Mon compte</h1>

    <a href="{{ path('app_address') }}" class="btn btn-secondary mt-5">
      <i class="fa fa-home me-2"></i>
      Gérer mes adresses

    </a>

    <a href="#" class="btn btn-secondary mt-5">
      <i class="fa fa-file me-2"></i>
      Gérer mes commandes

    </a>

  {% endblock %}
