{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
  <div class="container">

    <h2 class="text-center mt-5 mb-5 text-secondary">Explorez nos produits selon leur catégories</h2>

    <div class="row">

      {% for category in categories %}

        <div class="col-md-6 mb-5 card ">
          <div class="product-item text-center">
            <a href="{{ path('app_category_show', {'id': category.id}) }}"><img src="/images/image.jpg" alt="{{category.name}}" class="img-fluid"></a>
            <h5>{{category.name}}</h5>

            <p class="mb-5">{{category.description}}</p>

          </div>
        </div>

      {% endfor %}

    </div>

  </div>
{% endblock %}
